/*-----------------------------------------------
	header
-----------------------------------------------*/
.l-header {
	width: 100%;
	@include pc {
		padding-bottom: 12px;
	}
	@include sp {
		padding-top: 5vw;
		padding-bottom: 2.5vw;
	}
	&__inner {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		@include pc {
			width: $contentWidthPlayer;
			min-width: $contentWidthPlayer;
			margin-left: auto;
			margin-right: auto;
		}
		@include sp {

		}
	}
	&__gnav {
	}
}

.p-gnav {
	display: flex;
	justify-content: center;
	align-items: center;
	&__item {
		@include pc {

		}
		@include sp {

		}
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 1em;
		color: $colorPrimary;
		transition: opacity .2s;
		@include pc {
			font-size: 14px;
		}
		@include sp {
			font-size: 2.8vw;
		}
		&:hover {
			opacity: .6;
		}
		&--list {
			&::before {
				content: "";
				display: block;
				background-image: url("../images/ico_list_2.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				margin-right: .5em;
				@include pc {
					width: 1.5em;
					height: 1.5em;
				}
				@include sp {
					width: 1.8em;
					height: 1.8em;
				}
			}
		}
		&--mylist {
			&::before {
				content: "";
				display: block;
				background-image: url("../images/ico_mylist_2.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				margin-right: .5em;
				@include pc {
					width: 1.5em;
					height: 1.5em;
				}
				@include sp {
					width: 1.5em;
					height: 1.5em;
				}
			}
		}
	}

}