@charset "utf-8";
/*--------------------------------------------------
	Brand Color Custom
--------------------------------------------------*/
/* background */
body {
	background-color: #edeae8;
}
/* title */
.p-playerHeader__title {
	color: #425464;
}
.p-playerHeader__subTitle {
	color: #425464;
}
/* player */
.p-playerContainer {
	border:5px solid #334657;
}
/* speed button */
.p-playerButtons__item--speed a {
	border:1px solid #ff8a00;
	background-color:#ff8a00;
}
.p-playerButtons__item--speed a:hover {
	background-color:#fff;
	border:1px solid #ff8a00;
	color:#ff8a00;
}

.p-playerButtons__item--document a {
	background-color: #00429a;
	border: 1px solid #00429a;
}
.p-playerButtons__item--document a:hover {
	background-color:#fff;
	border:1px solid #00429a;
	color:#00429a;
}

.p-playerButtons__item--downloadPdf  a {
	border:1px solid #00429a;
	background-color:#00429a;
}
.p-playerButtons__item--downloadPdf  a:hover {
	background-color:#fff;
	border:1px solid #00429a;
	color:#00429a;
}

.p-playerButtons__item--speed a.is-normal::before {
	background-image: url(../images/icon_time.png);
}
.p-playerButtons__item--speed a.is-normal:hover::before {
	background-image: url(../images/icon_time_on.png);
}
.p-playerButtons__item--speed a.is-highSpeed::before {
	background-image: url(../images/icon_time_normal.png);
}
.p-playerButtons__item--speed a.is-highSpeed:hover::before {
	background-image: url(../images/icon_time_normal_on.png);
}
/* document button */
/* .p-playerButtons__item--document a {
	border: 1px solid #49a942;
	color: #fff;
	background-color: #49a942;
}
.p-playerButtons__item--document a:hover {
	border: 1px solid #49a942;
	color: #49a942;
	background-color: #fff;
}
.p-playerButtons__item--document a::before {
	background-image: url(../images/icon_document.png);
}
.p-playerButtons__item--document a:hover::before {
	background-image: url(../images/icon_document_on.png);
} */
/* related video */
.p-playerContent__relatedVideo {
	background-color: #cdc6ca;
}

.p-gnav__link{
	color: #d54826;
}
.p-gnav__link--list::before {
	background-image: url(../../../images/ico_list_5.png);
}
.p-gnav__link--mylist::before {
	background-image: url(../../../images/ico_mylist_4.png);
}