<%
// page data
const page = {
	mode: 'demo',
	id: 'list_ra',
	// category: '',
	// type: '',
	title: 'リウマチ科領域',
	categoryTitle: 'コンテンツ一覧',
	description: '',
	// discTemplate: '',
	// discTemplatePrefix: '',
	keywords: '',
	// breadcrumb: [],
	basePath: '../../',
};
%> 
<!DOCTYPE html>
<html lang="ja">
<%- include('../../../_include/_foundation/_head', { page: page }) %>
<body>
	<div class="l-wrapper">
		<%- include('../../../_include/_layout/_header', { page: page }) %>
		<%- include('../../../_include/_layout/_main', { page: page }) %>
		<%- include('../../../_include/_layout/_footer', { page: page }) %>
	</div>
</body>
</html>