<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="<%= page.description %>">
	<meta name="keywords" content="<%= page.keywords %>">
	<title><%= page.title %></title>
	<%# css %>
	<% if(page.category === 'list') { %>
	<link rel="stylesheet" href="<%- page.basePath %>common_lc/css/style.css">
	<% } else if(page.id === 'player') { %>
	<link rel="stylesheet" href="<%- page.basePath %>common_lc/css/slick.css">
	<link rel="stylesheet" href="<%- page.basePath %>common_lc/css/style_player2023.css">
	<% } %>
	<%# js %>
	<script charset="UTF-8" src="<%- page.basePath %>common_lc/js/jquery-3.5.1.min.js"></script>
	<% if(page.id === 'list_rheum' || page.id === 'list_derm') { %>
	<script charset="UTF-8" src="<%- page.basePath %>common_lc/js/list.js"></script>
	<script>
		// ----- Tacosライブログ -----
		var livelogpath = '../../';
		var livelogpage = 'list_<%- page.type %>';
		// ----- Tacosライブログ -----
	</script>
	<script type="text/javascript" src="<%- page.basePath %>common/js/livelog.js"></script>
	<% } else if(page.id === 'mylist') { %>
	<script charset="UTF-8" src="<%- page.basePath %>common_lc/js/mylist_lc.js"></script>
	<script>
		// ----- Tacosライブログ -----
		var livelogpath = '../../';
		var livelogpage = 'list_<%- page.type %>';
		// ----- Tacosライブログ -----
	</script>
	<script type="text/javascript" src="<%- page.basePath %>common/js/livelog.js"></script>
	<% } else if(page.id === 'player') { %>
	<script type="text/javascript" src="<%- page.basePath %>common_lc/js/flowtype.js"></script>
	<script type="text/javascript" charset="UTF-8" src="https://ssl-cache.stream.ne.jp/www50/eqb673ulpm/jmc_pub/jmc_swf/player/t3/if.js"></script>
	<script charset="UTF-8" src="<%- page.basePath %>common_lc/js/slick.min.js"></script>
	<script>
		// ----- Tacosライブログ -----
		var livelogJsPath = '../../../common/js/livelog.js';
		var livelogpath = '../../../';
		var livelogpage = '<%- page.type %>';
		var totallen = null;
		// ----- Tacosライブログ -----
	</script>
	<script charset="UTF-8" src="<%- page.basePath %>common_lc/js/player_log.js"></script>
	<script charset="UTF-8" src="../config/config.js"></script>
	<script charset="UTF-8" src="<%- page.basePath %>common_lc/js/player.js"></script>
	<% } %>
	<% if(page.type === 'pdf') { %>
		<script src="<%- page.basePath %>common_lc/js/modal.js"></script>
		<link rel="stylesheet" href="<%- page.basePath %>common_lc/css/modal.css">
	<% } %>

	<%# ga %>
	<% if(page.mode !== 'demo' && page.category === 'list') { %>
	<script>
		// Google Analytics
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-69864277-7', 'auto'); //IDを更新
		ga('send', 'pageview');
	</script>
	<% } %>
</head>