@charset "utf-8";
/*==================================================
	Universal Reset
	Default Style
	hasLayout
==================================================*/

/*--------------------------------------------------
	Universal Reset
--------------------------------------------------*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, del, ins, em, img, hr, q, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
h1, h2 {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: lighter !important;
	letter-spacing: 1px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 100%;
}
ul, ol {
	list-style: none;
}
table, th, td {
	border: 0 none;
}
th {
	font-weight: normal;
	text-align: left;
}
caption {
	text-align: left;
}
strong {
	font-weight: normal;
}
em {
	font-style: normal;
}
img {
	border: 0;
	vertical-align: top;
}
dt {
	font-weight: normal;
}
fieldset {
	border: 0 none;
}
legend {
	display: none;
}
textarea {
	font-size: 1em;
}
/*--------------------------------------------------
	Default Style
--------------------------------------------------*/
body {
	background: #f0f0f0;
	margin-bottom: 0;
	color: #333;
	font-size: 16px;
	-webkit-text-size-adjust: 100%;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold !important;
	color: #333;
}
a, a:link {
	color: #1360e0;
	text-decoration:underline;
}
a:visited {
	color: #1360e0;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	color: #1360e0;
	text-decoration: none;
}
sup {
	vertical-align: top;
}
sub {
	vertical-align: baseline;
}
img {
}
p {
	line-height: 1.68;
}
@media screen and (max-width:1024px) {
body {
	word-break: break-all;
}

}
/*--------------------------------------------------
	hasLayout
--------------------------------------------------*/
div, ul, dl, dt, dd, p, h1, h2, h3, h4, h5, h6 {
	zoom: 1;
}


#container{
	width:700px;
	margin:0 auto;
	padding-top:20px;
	line-height:1.7;
}

#content{
	width:665px;
	margin:0 auto;
	overflow:hidden;
	border-radius:5px;
	background:url(../images/bg.png) right bottom no-repeat #fff;
}

.title{
	padding:15px 0 15px 0;
	border-bottom:1px solid #ccc;
}

.title h1{
	font-size:187.5%;
	text-align:center;
}

.main{
	padding:30px 20px 0 20px;
}
.main .inner{
	padding:0 20px;
}
.layout-topBtn:after{
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
	content:".";
}

.layout-topBtn{
	margin-bottom:20px;
	width:625px;
}
.layout-topBtn .block01{
	float:left;
}
.layout-topBtn .block02{
	float:right;
}

.list-01{
}

.list-01 li{
	padding-left:20px;
	background:url(../images/icon_list.png) no-repeat left 8px;
	margin-bottom:10px;
}
#footer{
	padding:0 20px 10px;
	position:relative;
	margin-top:70px;
}
#footer .logo{
	position:absolute;
	left:20px;
	bottom:10px;
}
#footer .copy{
	text-align:right;
	font-size:75%;
}

a img:hover{
	opacity:0.8;
}

.mb-00 {
	margin-bottom: 0 !important;
}
.mb-05 {
	margin-bottom: 5px !important;
}
.mb-10 {
	margin-bottom: 10px !important;
}
.mb-20 {
	margin-bottom: 20px !important;
}
.mb-30 {
	margin-bottom: 30px !important;
}
.mb-40 {
	margin-bottom: 40px !important;
}
.mb-50 {
	margin-bottom: 50px !important;
}
.mb-60 {
	margin-bottom: 60px !important;
}
.mb-70 {
	margin-bottom: 70px !important;
}
.mb-80 {
	margin-bottom: 80px !important;
}
.align-l {
	text-align: left !important;
}
.align-c {
	text-align: center !important;
}
.align-r {
	text-align: right !important;
}